.tasks-container {
  display: flex;
  flex-direction: column;
  background-color: purple;
  height: 470px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 20px;
}

.calender-container {
  height: 100%;
  
}

.news-container {
  height: 100%;
 
}





