.container {
  height: 100%;
  width: 70px;
  display: flex;
  background-color: #212121;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.image-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #212121;
}

img {
  width: 40px;
  height: 40px;
  opacity: 1.5;
}

.home-icon:hover {
  content:url('../../../../assets/icons8-home-white.png');
}

.calender-icon:hover {
  content:url('../../../../assets/icons8-calendar-white.png');
}

.stocks-icon:hover {
  content:url('../../../../assets/icons8-stocks-white.png');
}

.library-icon:hover {
  content:url('../../../../assets/icons8-book-shelf-white.png');
}

.settings-icon:hover {
  content:url('../../../../assets/icons8-engineering-white.png');
}

.list-icon:hover {
  content:url('../../../../assets/icons8-list-white.png');
}



