.grid {
  background: #121212;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px;
  height: auto;
  opacity: 0.8;
  flex: 3;
}

.row {
  height: auto;
  flex-direction: row;
  display: flex;
  gap: 15px;
}

.news-container {
  height: 100vh;
  width: 200px;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  align-self: flex-start;
  flex-direction: column;
  flex: 1;
}

.home-container {
  display: flex;
  flex-direction: row;
}

.margin-bottom {
  margin-bottom: 15px;
}

.column {
  flex-direction: column;
  flex: 1;
}

.yellow {
  background-color: yellow;
}

.two {
  flex: 2;
}

.three {
  flex: 3;
}

.four {
  flex: 4;
}
