* {
  background: black;
}

.row {
  display: flex;
  flex-flow: row;
  flex: 1;
}

.column {
  height: auto;
  flex-flow: column;
  flex: 1;
}

.tasks-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 525px;
  width: 100%;
  max-width: 330px;
  padding: 25px;
  border-radius: 20px;
}

.calender-widget-container {
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  flex-direction: row;
  height: 260px;
  width: 100%;
  border-radius: 20px;
}

.news-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 20px;
}

.stock-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;
  height: 250px;
  padding: 20px;
  border-radius: 20px;
}

.stock-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99.7px;
  flex-direction: column;
  justify-content: space-between;
}

.weather-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 260px;
  padding: 20px;
  border-radius: 20px;
}

.facts-container {
  display: flex;
  flex-direction: column;
  height: 210px;
  padding: 20px;
  border-radius: 20px;
}
.blank-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 25px;
  border-radius: 20px;
}

.add-widget-button {
  font-size: 100px;
}

.tasks-list {
  height: auto;
  word-wrap: break-word;
  margin: 14px 0;
  list-style: none;
  width: 90%;
  display: flex;
  flex: row;
}

.tasks-name {
  text-overflow: hidden;
  width: 100%;
  height: auto;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 15px;
}

.weather-icon {
  height: 60px;
  width: 80px;
}

.tasks-input-box {
  width: 100%;
  height: 120px;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-size: 20px;
  padding: 2px;
  margin-bottom: 20px;
}

.weather-temp {
  font-size: 52px;
  line-height: 2;
}

.border-bottom {
  border-bottom: 1px solid white;
}

.con {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  width: 120px;
  margin: 0px;
  line-height: 2.5;
}
.con-2 {
  height: 80px;
  width: 80px;
  margin-bottom: 25px;
}

.con-3 {
  height: 80px;
  width: 80px;
  text-align: center;
  padding: 10px;
  font-size: large;
}

.calendar {
  height: 160px;
  width: 100%;
}

::ng-deep .calendar div {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

::ng-deep .calendar th {
  color: #FFFFFF;
  padding-bottom: 1px;
}

::ng-deep .calendar span {
  color: #FFFFFF;
  font-size: 16px;
}

::ng-deep .calendar td{
  width: 20px;
  height: 2px;
}

.time {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.5;
  letter-spacing: 2px;
}

.rounded {
  border-radius: 20px;
}

.morning {
  font-size: 16px;
}

.wind-icon {
  height: 25px;
  width: 25px;
  fill: #FFFFFF;
}

.center {
 direction: flex;
 margin: auto 0;
}

.cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sdd {
  flex: 2;
}

.marg {
  margin-top: 10px;
}

.current-time {
  font-size: 45px;
}










 





