.news-feed-container {
  background-color: #212121;
  color: #FFFFFF;
  padding: 0 20px 0 20px;
  height: 100%;
  top: 30; 
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.article-container {
  margin-top: 25px;
}


.article-image {
  height: 120px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}


a:visited {
  color: #FFFFFF;
}

a:hover {
  color: blue;
}