.news-feed-container {
  padding: 0 20px 0 20px;
  height: 1070px;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.article-container {
  margin-top: 25px;
}


.article-image {
  height: 120px;
  width: 100%;
}

a {
  text-decoration: none;
}