.library-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #121212;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 40px;
  opacity: 0.8;
  overflow: scroll;
}

.header {
  margin-top: 20px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  margin-top: 30px;
}

.topics-container {
  display: flex;
  flex-direction: column;
  flex-wrap: scroll;
  height: 100vh;
}

.topic-container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 200px;
  margin-left: 30px;
  margin-bottom: 20px;
}


li {
  list-style: none;
  margin-right: 20px;
}

button {
  margin: 20px 0px 10px 20px;
  height: 40px;
  width: 170px;
  font-size: 20px;
}

.category-header {
  margin-bottom: 40px;
}

