.library-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121212;
  color: #FFFFFF;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 40px;
  opacity: 0.8;
  font-weight: 500;
  overflow: scroll;
}

.topics-container {
  display: flex;
  flex-direction: column;
  flex-wrap: scroll;
  height: 100vh;
}

.topic-container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 200px;
  margin-left: 30px;
  margin-bottom: 20px;
}

li {
  list-style: none;
  margin-right: 20px;
}

.category-header {
  margin-bottom: 40px;
}

.article-link {
  text-decoration: none;
  color: #FFFFFF;
}

.article-link:visited {
  color: #FFFFFF;
}