.library-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #121212;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 40px;
  opacity: 0.8;
  overflow: scroll;
}

.header {
  margin-top: 20px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  margin-top: 30px;
}

.add-topic-btn {
  margin: 20px 0px 10px 20px;
  height: 40px;
  width: 170px;
  font-size: 20px;
}

.add-topic-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 330px;
}

.form-labels {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

select {
  height: 35px;
  width: 100%;
  border-radius: 5px;
}

.topic-input {
  height: 30px;
  width: 270px;
}

.url-input {
  height: 30px;
  width: 390px;
}

p {
  margin-bottom: 20px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  height: 40px;
}

.close-btn {
  height: 25px;
  width: 25px;
  background-color: #d3d3d3;
  border: none;
  margin-right: 15px;
  margin-top: 15px;
}

.add-new-topic {
  height: 35px;
  width: 120px;
}

.cancel-btn {
  height: 35px;
  width: 100px;
  border: none;
  font-size: 15px;
  background-color: #d3d3d3;
}

.add-article-btn {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  margin-right: 15px;
  background-color: #24a0ed;
  color: #ffffff;
  font-weight: 600;
  border: none;
}



