  <div class="grid">
    <div class="row margin-bottom">
      <div class="column two">
        <div class="row margin-bottom">
          <div class="column">
            <widget [type]="'weather'"></widget>
          </div>
          <div class="column">
            <widget [type]="'calender'"></widget>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <widget [type]="'stocks'"></widget>
          </div>
        </div>
      </div>
      <div class="column">
        <widget [type]="'tasks'"></widget>
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="column">
        <widget [type]="'tech'"></widget>
      </div>
      <div class="column">
        <widget [type]="'facts'"></widget>
      </div>
      <div class="column">
        <widget [type]="'blank'"></widget>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <widget [type]="'blank'"></widget>
      </div>
      <div class="column">
        <widget [type]="'blank'"></widget>
      </div>
      <div class="column">
        <widget [type]="'blank'"></widget>
      </div>
    </div>
  </div>
  
  
  <!-- <div class="column">
    <div class="row margin-bottom" >
      <div class="column" >
        <widget [type]="'weather'"></widget>
      </div>
      <div class="column" >
        <widget [type]="'calender'"></widget>
      </div>
    </div>
    <div class="row">
      <weather-widget [weatherData]="data"></weather-widget>
      <weather-widget [weatherData]="data"></weather-widget>
    </div>
  </div>
  <div class="column" >
    <widget [type]="'tasks'"></widget>
  </div>
</div>
<div class="row margin-bottom">
  <div class="column two">
    <widget [type]="'stocks'"></widget>
  </div>
  <div class="column">
    <widget [type]="'tech'"></widget>
  </div>
</div>
<div class="row">
  <div class="column">
    <widget></widget>
  </div>
  <div class="column">
    <widget></widget>
  </div>
  <div class="column">
    <widget></widget>
  </div>
</div> -->