  <div class="grid">
    <div class="row">
      <div class="column two">
        <div class="row">
          <div class="column">
            <weather-widget [weatherData]="data"></weather-widget>
          </div>
          <div class="column">
            <widget [type]="'calender'"></widget>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <widget [type]="'stocks'"></widget>
          </div>
        </div>
      </div>
      <div class="column">
        <widget [type]="'tasks'"></widget>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <widget [type]="'weather'"></widget>
      </div>
      <div class="column">
        <widget [type]="'weather'"></widget>
      </div>
      <div class="column">
        <widget [type]="'weather'"></widget>
      </div>
    </div>
  </div>
  
  
