.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 300px;
  background-color: #000000;
  margin-top: 20px;
  border-radius: 20px;
}

.card-icon {
  height: 150px;
  width: 150px;
}

h2 {
  margin-top: 10px;
}